/.vs/*
output/*
*.opensdf
*.sdf
ipch/*
*.opendb
*.ilk
*.pdb
*.iobj
*.ipdb
*.sln
*.vcxproj
*.vcxproj.filters

/Tools/CommonCompiler/src/.vs
/Tools/CommonCompiler/build/log.txt
*.ipch
*.db
*.user
/Engine/WinLancher/project/winlancher_vs2017_win_runtimedependencies.txt
