[submodule "Tools/GoogleTest/src"]
	path = Tools/GoogleTest/src
	url = https://github.com/google/googletest
[submodule "Engine/Extern/rapidjson"]
	path = Engine/Extern/rapidjson
	url = https://github.com/Tencent/rapidjson.git
