[submodule "Tools/Sharpmake/src"]
	path = Tools/Sharpmake/src
	url = https://github.com/ubisoftinc/Sharpmake.git
	branch = dev
[submodule "Tools/GoogleTest/src"]
	path = Tools/GoogleTest/src
	url = https://github.com/google/googletest
